
<div class = "has-text-centered">
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    New Code
                </h1>
            </div>
        </div>
    </section>
    
    <div class = "container">

        <%= render 'form', code: @code %>
        
        <button class="button is-info is-outlined">
            <%= link_to "Home", root_path %>
        </button>
    </div>
</div>


